.container-fluid {
  background: linear-gradient(#ffd9b3, #ff9933);
}

#del-button {
  float: left;
  color: black;
}

button {
  margin-top: 8px;
  float: left;
  border-radius: 5px;
}

td:nth-child(odd) {
  background: #f5f5f0;
}

h4 {
  float: right;
}

.done {
  color: grey !important;
  text-decoration: line-through ;;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 644px;
    height: 20px;
    margin: 0 auto;
}

.foot {
  margin: 10px;
  padding: 10px;
}
